.simpleVariado--container{
    width: 100%;
}

.sv-containerBar{
    height: 24px;
    width: 100%;
    position: relative;
}


.sv-barItem{
    position: absolute;
    left: 0%;
    top: 0%;
    animation: Svar-in forwards 2s;
    height: 100%;
    
    
}

.sv-containerBar:hover > .simplevariado-popuver{
    display: flex;

}

.simplevariado-popuver{
    position: absolute;
    display: none;
    flex-direction: column;
    flex-wrap: wrap;
    border-left: 3px solid;
    
    box-sizing: border-box;
    padding: 8px 4px;
    z-index: 7;
    /* whiteff */

    background: #FFFFFF;
    /* shades */

    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.14);
    border-radius: 10px;


    color: #333333;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;

    left: 50%;

 

   
}


.sv-labels{
    margin-top: 24px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    animation: text-in forwards 2s;
}

.sv-labelSimple{
    margin-top: 24px;
    width: 100%;
    
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    animation: text-in forwards 2s;
}

.sv-labelSimple .sv-label{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 24px;
}



.sv-labels .sv-label{
  
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 24px;
}

.sv-labelColor{
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    
  
}

.sv-texS{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

@keyframes Svar-in {
    from {
  /*     opacity: 0; */
      width: 0%;
    }
    to {
  /*     opacity: 1; */
    }
  }


  @media (min-width:1000px){
    .sv-labels .sv-label{
        width: 33%;

    }
  }
