.distribucion-container{
    margin-top: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.distribucion-labels{
    display: none;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-between;
    width: 15%;

}

.dt-label{
    box-sizing: border-box;
    padding: 8px;
    text-align: left;
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;

    
}

.distribucion-elements-container{
    box-sizing: border-box;
 
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    position: relative;
}

.dtc-line{
    box-sizing: border-box;
    width: 100%;
    position: absolute;
    height: 20px;
    background-color: #fff;
    z-index: 4;
    top: calc(50% - 10px);
    border-top: #000 1px solid;
    border-bottom: #000 1px solid;
    opacity: 0.2;
    
}

.distribucion-element{

    height: 170px;
    width: 40px;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;

}




.distribucion-boxInfo{
    box-sizing: border-box;
    padding: 8px 4px;
    top: 25%;

    
    position: absolute;
    width: 180px;
    z-index: 6;
    background: #FFFFFF;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.14);
    border-radius: 10px;
    opacity: 0;
    transition: all ease-in-out 1s;

    border-left: 5px #E6282E solid;

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    display: none;

}

.leftdistribucion--box{
    left: 60px;
}

.rightdistribucion--box{
    right: 60px;
}

.distriinfo-title{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 24px;
    color: #828282;
}

.distriinfo-subtitle{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
}



.distribucion-infoItems{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

.distribucion-infoItem span{
    width: 100%;
}

.de-superior:hover ~ .distribucion-boxInfo{
    opacity: 1;
    display: flex;
}

.de-inferior:hover ~ .distribucion-boxInfo{
    opacity: 1;
    display: flex;
}

.dt-title{
    
    position: absolute;
    text-align: center;
    width: 100%;
    height: 20px;
    z-index: 5;
    top: 50%;
    top: calc(50% - 10px);

    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 24px;


    color: #828282;
}

.de-superior{
    width: 100%;
    height: 75px;

    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}
.de-superior div{
    position: relative;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    
    width: 100%;
    background-color: #E6282E;
    animation: dist-in forwards 2s;
}

.de-superior div span{
    position: absolute;
    top: -50%;
    left: 25%;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #333333;


}

.de-inferior{
    width: 100%;
    height: 50%;
    height: 75px;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #333333;

}

.de-inferior div {
    position: relative;
    width: 100%;
    
    background-color: #E6282E;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    animation: dist-in forwards 2s;
}

.de-inferior div span{
    position: absolute;
    top: 100%;
    left: 25%;
}

.distribucion-label-response{
    display: flex;
    width: 100%;
    
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;
}

@keyframes dist-in {
    from {
  /*     opacity: 0; */
      height: 0%;
    }
    to {
  /*     opacity: 1; */
    }
  }


  @media (min-width:500px){

    .dt-title{
        font-size: 12px;
    }

  }


  @media (min-width:750px){
    .distribucion-label-response{
        display: none;

    }
    .distribucion-labels{
        display: flex;

    
    }

    .distribucion-elements-container{
        width: 80%;
    }

    .distribucion-container{
        flex-wrap: nowrap;
    }


    .dt-title{
        display: block;
    }

    .distribucion-element{

        width: 60px;
    }

    .dt-title{
    
        font-size: 12px;

    }

  }