

.donut-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    font-size: 12px;
    line-height: 24px;
    position: relative;
  }
  
  .donut-text{
    box-sizing: border-box;
    margin-top: 8px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    

    animation: text-in forwards 2s;
  }
  
  .item-donut{
    
    margin-bottom: 14px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
  }
  
  .label-donut{
    width: 14px;
    height: 14px;
    border-radius: 50%;
  }
  
  .text-donut{
    margin-left: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    justify-content: flex-start;
    text-align: start;
  }
  
  .wrapper {
      background: #ccc;
      height: 250px;
      width: 280px;
      position: relative;
  }
  
  .wrapper .donut {
      position: absolute;
      left: 120px;
      top: -25px;
  }
  
  .donut-segment {
    animation-name: fill-in;
    animation-fill-mode: forwards;
    animation-duration: 2000ms;
  /*   animation-timing-function: ease-in-out; */
  /*   opacity: 0; */
  pointer-events: bounding-box;
    
  }



  .text-donut-in{
    display: none;
  }

  .hover-donut:hover ~ .text-donut-in{
    display: flex;
  }
 

  .labeltest{
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    position: absolute;
    top: 0%;
  }
  
  @keyframes fill-in {
    from {
  /*     opacity: 0; */
      stroke-dashoffset: 0;
    }
    to {
  /*     opacity: 1; */
    }
  }


  @keyframes text-in {
    from {
  /*     opacity: 0; */
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }