.bar-clipper {
    width: calc(300px * 0.8);
    height: 20px;
    overflow: hidden;
    position: absolute;
}

.bar-wrapper {
    width: 400px;
    height: 20px;
    display: flex;
    position: absolute;
}

.bar-wrapper span {
    width: 100%;
    height: 100%;
}

.bar-wrapper .bar1 {
    background-color: #163f5f;
}

.bar-wrapper .bar2 {
    background-color: #21639b;
}